* {
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(180deg, 52%, 96%);
  font-family: "League Spartan", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.badge-new {
  background-color: hsl(180deg, 29%, 50%);
  color: #fff;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
}

.badge-featured {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
}

.li-key-words {
  padding: 5px;
  border-radius: 3px;
  background-color: hsl(180deg, 31%, 95%);
  color: hsl(180deg, 29%, 50%);
  cursor: pointer;
}

.main-header {
  width: auto;
  height: 150px;
  background-image: url("../images/bg-header-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(180deg, 29%, 50%);
  margin-bottom: 50px;
}

.main-container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-filter {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  margin-top: -90px;
}
.container-filter .box-filter {
  border-radius: 5px;
  background-color: #fff;
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px 25px 40px;
  box-shadow: 0px 1px 5px 1px hsla(180deg, 29%, 50%, 0.322);
}
.container-filter .box-filter .ul-container-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  list-style-type: none;
}
.container-filter .box-filter .ul-container-filter .li-key-words-filter-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border-radius: 3px;
  background-color: hsl(180deg, 31%, 95%);
  color: hsl(180deg, 29%, 50%);
  padding-left: 5px;
  cursor: pointer;
}
.container-filter .box-filter .ul-container-filter .li-key-words-filter-section i {
  background-color: hsl(180deg, 29%, 50%);
  color: #fff;
  padding: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.container-filter .box-filter .ul-container-filter .li-key-words-filter-section i:hover {
  background-color: #000;
}
.container-filter .box-filter .clear-filter {
  color: hsl(180deg, 29%, 50%);
  border: none;
  background-color: transparent;
  font-weight: 700;
  transition: 500ms;
}
.container-filter .box-filter .clear-filter:hover {
  transition: 500ms;
  text-decoration: underline;
  cursor: pointer;
}

.job-container {
  max-width: 900px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.job-container .container-job-offer {
  background-color: white;
  width: 100%;
  padding: 25px 40px 25px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 1px hsla(180deg, 29%, 50%, 0.322);
}
.job-container .border-new-job {
  border-left: 5px solid hsl(180deg, 29%, 50%);
}

.right-part-job {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}
.right-part-job .infos-job {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right-part-job .infos-job .container-company {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.right-part-job .infos-job .container-company .title-job {
  color: hsl(180deg, 29%, 50%);
}
.right-part-job .infos-job .container-company .badges {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  gap: 6px;
}
.right-part-job .infos-job .container-job {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right-part-job .infos-job .container-job .ul-infos-job {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: hsl(180deg, 8%, 52%);
  list-style-type: none;
}

.left-part-job {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
}

.attribution {
  text-align: center;
  margin-top: 60px;
}

/*# sourceMappingURL=style.css.map */
