// style index page

.main-container{
    width: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
}

// search box  
.container-filter{
    width: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 80px;
    margin-top: -90px;
    margin-bottom: 50px;
    .box-filter{
        border-radius: 5px;
        background-color:#fff;
        width: 900px;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        padding: 25px 40px 25px 40px;
        box-shadow: 0px 1px 5px 1px hsla(180, 29%, 50%, 0.322);
        display: none;
        .ul-container-filter{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 25px;
            list-style-type: none;
            .li-key-words-filter-section{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 5px;
                border-radius: 3px;
                background-color: hsl(180, 31%, 95%);
                color: hsl(180, 29%, 50%);
                padding-left: 5px;
                cursor: pointer;
                i{
                    background-color: hsl(180, 29%, 50%);
                    color: #fff;
                    padding: 5px;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                    &:hover{
                        background-color: #000;
                    }
                }
            }
        }
        .clear-filter{
            color: hsl(180, 29%, 50%);
            border: none;
            background-color: transparent;
            font-weight: 700;
            transition: 500ms;
            &:hover{
                transition: 500ms;
                text-decoration: underline;
                cursor:pointer;
            }
        }
    }
}



// style items Jobs
.job-container{
    max-width: 900px;
    width: 100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    .container-job-offer{
        background-color: white;
        width: 100%;
        padding: 25px 40px 25px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        border-radius: 5px;
        box-shadow: 0px 5px 15px 1px hsla(180, 29%, 50%, 0.322);
    }
    // class addings dynamically if the job offer is new
    .border-new-job{
        border-left: 5px solid hsl(180, 29%, 50%);
    }
}

.right-part-job{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items:center;
    .infos-job{
        display: flex;
        flex-direction: column;
        gap: 15px;
        .container-company{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            .title-job{
                color:hsl(180, 29%, 50%);
            }
            .badges{
                display:flex;
                flex-direction: row;
                font-size: 12px;
                gap: 6px;
            }
        }
        .container-job{
            display:flex;
            flex-direction: column;
            gap: 15px;
            .ul-infos-job{
                display: flex;
                flex-direction: row;
                gap: 20px;
                color: hsl(180, 8%, 52%);
                list-style-type:none;
            }
        }
    }
}

.left-part-job{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
}





// attribution
.attribution{
    text-align: center;
    margin-top: 60px;
}